.woostify-sites-modal {
	display: none;
}

.wooostify-template-library-templates-container .woostify-template-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;

    img {
        max-width: 100%;
    }

    .image-wrapper {
        padding: 30px 50px;
    }
}

.theme-name {
	font-weight: 600;
}

.elementor-templates-modal .dialog-widget-content.woostify-widget-content {
    position: unset;
}

.wooostify-template-library-templates-container  {
    max-height: 90vh;
    overflow-y: scroll;
}

#woostify-template-library-header-preview-back,
#woostify-template-library-header-tools {
    display: none;
}

.elementor-add-woostify-site-button {
    background-color: #333333;
}

#woostify-template-library-header-actions {
    display: flex;
    .elementor-templates-modal__header__item {
        background: #0085ba;
        border-color: #0073aa #006799 #006799;
        box-shadow: 0 1px 0 #006799;
        color: #fff;
        text-decoration: none;
        padding: 8px 15px;
        border-radius: 3px;
        cursor: pointer;

        &:not(:last-child) {
            margin-right: 15px;
        }
    } 
}

.elementor-templates-modal__header__item.loading:before {
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid #3498db;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 0.5s linear infinite; /* Safari */
    animation: spin 0.5s linear infinite;
    content: '';
    display: block;
    margin-right: 8px;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}